:root {
  --dark-blue: #0f2957;
  --white: #ffffff;
  --black: #1e242f;
  --light-blue: #4b79bf;
  --blue: #21304b;
}

.header {
  width: 100%;
  padding: 10px 20px;
  background-color: var(--dark-blue);
  border-bottom: 2px solid var(--light-blue);
  box-shadow: var(--light-blue) 0px 25px 9px -20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  color: var(--white);

  span {
    color: #de33a6;
  }
}

.profile-icon {
  width: 40px;
  height: 40px;
  fill: var(--white);
  cursor: pointer;
  transition: 0.5s ease;
}

.profile-icon:hover {
  fill: var(--light-blue);
}

.info-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.info-header > p {
  color: var(--white);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.info-header > p:hover {
  color: red;
  text-decoration: underline;
}

.user-info-section {
  min-width: 350px;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background-color: var(--dark-blue);
  border-left: 2px solid var(--light-blue);
  border-radius: 15px 0px 0px 15px;
  transform: translateX(100%);
  transition: transform 0.4s ease-in;
  padding: 10px 20px;
}

.user-info-section > div {
  width: 100%;
  margin: 10px;
  padding: 7px 14px;
}

.close {
  text-align: end;
}

.close > svg {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.close > svg:hover path {
  fill: var(--light-blue);
}

.fullname {
  color: var(--white);
  font-size: 2em;
}

.nickname {
  color: var(--light-blue);
}

.info-data > p {
  font-size: 1.3em;
  margin: 10px;
  color: var(--white);
  border: 1px dashed var(--light-blue);
  padding: 7px;
  border-radius: 8px;
}

.info-data > p span {
  color: var(--light-blue);
  font-size: 0.9em;
  font-weight: 300;
  display: block;
}

/* body cntainer */
.body-container {
  width: 85%;
  height: 100%;
  margin: 10px auto;
  padding: 15px 20px;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  background-color: var(--dark-blue);
  border-radius: 8px;
  padding: 7px 14px;
  box-shadow: var(--light-blue) 0px 1px 3px 0px;
}

.header-section h1 {
  color: var(--white);

  span {
    color: var(--light-blue);
  }
}

.icon-user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-section .more-infos {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-section .more-infos span {
  color: var(--light-blue);
  font-size: 14px;
  text-transform: uppercase;
}

.header-section .more-infos p,
.header-section .more-infos .level {
  color: var(--white);
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}
.header-section .more-infos .level,
.header-section .more-infos .xp {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* projects */
.last-two-projects {
  display: flex;
  gap: 10px;
}
.project {
  background-color: var(--blue);
  padding: 7px 14px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  width: 50%;
  border-radius: 8px;
  border: 1px solid var(--light-blue);
  gap: 10px;
}
.project .ic {
  background-color: var(--light-blue);
  border-radius: 50%;
}
.project h3 {
  color: var(--white);
}
.project > .info-projects {
  color: var(--light-blue);
}
.project div .icon-succeed {
  width: 37px;
  height: 37px;
  position: relative;
  top: 4px;
}
.project div .icon-succeed path {
  fill: var(--blue);
}
/* audits */
.audit-sec {
  border-radius: 8px;
  display: flex;
  margin: 10px 0;
  width: 100%;
}
.historyAudit{
  background-color: var(--dark-blue);
  border-radius: 8px;
  padding: 7px 14px;
  box-shadow: var(--light-blue) 0px 1px 3px 0px;
  width: 50%;
}
.audit-sec .historyAudit h1 {
  color: var(--light-blue);
  margin-bottom: 30px;
  font-size: 1em;
}

.audit-sec .historyAudit .audit-ratio {
  font-size: 1.7em;
  font-weight: bold;
  color: var(--white);
}
.audit-sec .historyAudit .group-audit{
  width: 100%;
  height: 80px;
  background: red;  
  overflow-y: auto;
  border-radius: 8px;
  padding: 5px 10px;
}
.audit-sec .historyAudit .audit-item {
  background: #f8f9fa;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border-left: 4px solid #ddd;
}

.audit-sec .historyAudit .succeeded {
  color: green;
  border-left-color: green;
}

.audit-sec .historyAudit .failed {
  color: red;
  border-left-color: red;
}

.audit-sec .historyAudit .audit-info {
  font-size: 1.1em;
  font-weight: bold;
}
