:root {
    --dark-blue: #0F2957;
    --white: #FFFFFF;
    --black: #1E242F;
    --light-blue: #406EBF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
}