@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --dark-blue: #0F2957;
    --white: #FFFFFF;
    --black: #1E242F;
    --light-blue: #4B79BF;
    --blue: #21304b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}

.circle {
    width: 60px;
    height: 60px;
    border: 1.5px solid var(--light-blue);
    position: absolute;
    top: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 999;
}

.circle .sub {
    width: 8px;
    height: 8px;
    background-color: var(--light-blue);
    border-radius: 50%;
    pointer-events: none;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
}

.container form {
    background-color: var(--blue);
    box-shadow: var(--black) 0px 5px 15px;
    min-width: 400px;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container form img {
    width: 150px;
}

.container form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
    color: var(--white);

}

.container form div {
    width: 100%;
    margin: 5px 0;
}

.container form p {
    color: var(--white);
    font-size: 1.1em;
    margin: 5px 0;

    span {
        color: var(--light-blue);
    }
}

.container form input {
    width: 100%;
    border-radius: 15px;
    border: none;
    height: 35px;
    background-color: var(--black);
    padding: 7px 14px;
    outline: none;
    color: var(--white);
    font-size: 1em;
}

.container form input:focus {
    border: 1px solid var(--light-blue);
}

.container form input::placeholder {
    font-size: 0.8em;
}

.container form button {
    width: 100%;
    margin: 10px 0;
    background-color: transparent;
    border: 1px solid var(--light-blue);
    border-radius: 15px;
    padding: 7px 14px;
    cursor: pointer;
    font-size: 1em;
    color: var(--light-blue);
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

.container form button:hover {
    color: white;
    background-color: var(--light-blue);
}

.notif-sec {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 350px;
    padding: 10px 20px;
    overflow-y: auto;
}

.succeed-toast {
    width: 100%;
    padding: 7px 14px;
    display: flex;
    background: #007435;
    box-shadow: var(--black) 0px 5px 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0;
    transition: 08.s ease-in-out;
}

.failure-toast {
    width: 100%;
    padding: 7px 14px;
    display: flex;
    background: #ff7777;
    box-shadow: var(--black) 0px 5px 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0;
    transition: 08.s ease-in-out;
}

.failure-toast div:first-child {

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.succeed-toast div:first-child {
    background-color: #C3DC64;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.succeed-toast p,
.failure-toast p {
    color: var(--white);
    font-size: 1em;
}

.succeed-toast div .icon-succeed {
    width: 37px;
    height: 37px;
    position: relative;
    top: 4px;
}

.failure-toast div .icon-failure {
    width: 37px;
    height: 37px;
    position: relative;
    top: 4px;
}

.succeed-toast .icon-succeed-close ,.icon-failure-close {
    width: 37px;
    height: 37px;
    position: relative;
    top: 4px;
    float: right;
    cursor: pointer;
    transition: .8s ease-in-out;
}

.succeed-toast .icon-succeed-close .p1,
.succeed-toast .icon-succeed-close .p2 {
    fill: var(--white);
}

.succeed-toast .icon-succeed-close:hover .p1,
.succeed-toast .icon-succeed-close:hover .p2 {
    fill: #C3DC64;
}

.failure-toast .icon-failure-close .p1,
.failure-toast .icon-failure-close .p2 {
    fill: var(--white);
}

.failure-toast .icon-failure-close:hover .p1,
.failure-toast .icon-failure-close:hover .p2 {
    fill: red;
}